.card-2{
    display: flex;
    width: 90%;
    margin: auto;
    height: 30vh;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}
.card2-img{
    width: 400px;
    box-sizing: border-box;
}
.card2-text{
    width: 60%;
    line-height: 1.6;
}
.card-head2{
    text-align: center;
    text-decoration: underline;
}
.card-moral2{
    font-size: 1.1rem;
    font-weight: 700;
    color: grey;
}

@media screen and (max-width: 769px) {
    .card-2 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 90vh; 
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .card2-img {
        width: 100%; /* Adjust the percentage as needed */
        max-width: 100%; /* Ensure the image does not exceed its original size */
    }
    .card2-text {
        width: 100%;
    }
    .card-para2{
        text-align: center;
    }
    .card-moral2{
        text-align: center;
    }
}
