.settings-container{
    width: 100%;
    margin: auto;
    margin-top: 50px;
    box-shadow: 0 0 10px black;
    padding: 3%;
    border-radius: 20px;
}
.slider{
    height: 30px;
    border: 2px solid #fd5c63;
    border-radius: 20px;
}
.thumb{
    background-color: #fd5c63;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 20px;
}
.slider-green{
    height: 30px;
    border: 2px solid #17B169;
    border-radius: 20px;
}
.thumb-green{
    background-color: #17B169;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 20px;
}